
.variable{
	color: #9400D3;
}

.image,
.imageFragment {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.imageFragment{
	border: 2px dashed #383d3f;
}

.prevUrl{
	margin-right: 48px;
}
.nextUrl{
	margin-left: 48px;
}

#footerNavigation{
	display: table;
    margin: 0 auto;
}