---
layout: default
---

<p><a href="{{site.baseurl}}/{{ page.lang }}">{{ site.data.i18n.home[page.lang] }}</a></p>
{% assign listTutorials = site.tutorials | where_exp:"item", "item.lang == page.lang" | sort: 'order' %}

page.order: {{ page.order }}<br>
listTutorials.size: {{ listTutorials.size }}<br>

{% if page.order > 0 %}
{% assign  %}
{% assign nextTutorial =  listTutorials | where_exp:"item", "item.order == page.lang" %}
{% endif %}<br>
{% if page.order < listTutorials.size %}prev{% endif %}<br>

<!-- {% assign nextTutorial = listTutorials | where:"order", page.order %} -->

<h2>{{ page.title }}</h2>

{{ content }}